

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked text-center" role="tablist">
        <li role="presentation" class="active">
          <a href="#qb" aria-controls="qb" role="tab" data-toggle="tab">QB</a>
        </li>
        <li role="presentation">
          <a href="#rb" aria-controls="rb" role="tab" data-toggle="tab">RB</a>
        </li>
        <li role="presentation">
          <a href="#wr" aria-controls="wr" role="tab" data-toggle="tab">WR</a>
        </li>
        <li role="presentation">
          <a href="#te" aria-controls="te" role="tab" data-toggle="tab">TE</a>
        </li>
        <li role="presentation">
          <a href="#dst" aria-controls="dst" role="tab" data-toggle="tab">DST</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-10">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="qb">
          <table class="table table-hover">
            <tr>
              <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
              <th>NAME</th>
              <th>OPP</th>
              <th>FPPG</th>
              <th>OPRK</th>
              <th>SALARY</th>
              <th>VALUE</th>
            </tr>
            <tr *ngFor="let player of quarterbacks" [ngClass]="{'info': player.mvp}">
              <td>{{player.rank}}</td>
              <td>{{player.name}}</td>
              <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
              <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
              <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
              <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
              <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
              <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rb">
          <table class="table table-hover">
            <tr>
              <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
              <th>NAME</th>
              <th>OPP</th>
              <th>FPPG</th>
              <th>OPRK</th>
              <th>SALARY</th>
              <th>VALUE</th>
            </tr>
            <tr *ngFor="let player of runningBacks" [ngClass]="{'info': player.mvp}">
              <td>{{player.rank}}</td>
              <td>{{player.name}}</td>
              <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
              <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
              <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
              <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
              <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
              <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="wr">
          <table class="table table-hover">
            <tr>
              <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
              <th>NAME</th>
              <th>OPP</th>
              <th>FPPG</th>
              <th>OPRK</th>
              <th>SALARY</th>
              <th>VALUE</th>
            </tr>
            <tr *ngFor="let player of wideReceivers" [ngClass]="{'info': player.mvp}">
              <td>{{player.rank}}</td>
              <td>{{player.name}}</td>
              <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
              <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
              <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
              <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
              <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
              <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="te">
          <table class="table table-hover">
            <tr>
              <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
              <th>NAME</th>
              <th>OPP</th>
              <th>FPPG</th>
              <th>OPRK</th>
              <th>SALARY</th>
              <th>VALUE</th>
            </tr>
            <tr *ngFor="let player of tightEnds" [ngClass]="{'info': player.mvp}">
              <td>{{player.rank}}</td>
              <td>{{player.name}}</td>
              <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
              <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
              <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
              <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
              <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
              <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="dst">
          <table class="table table-hover">
            <tr>
              <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
              <th>NAME</th>
              <th>OPP</th>
              <th>FPPG</th>
              <th>OPRK</th>
              <th>SALARY</th>
              <th>VALUE</th>
            </tr>
            <tr *ngFor="let player of defenses" [ngClass]="{'info': player.mvp}">
              <td>{{player.rank}}</td>
              <td>{{player.name}}</td>
              <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
              <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
              <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
              <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
              <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
              <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
