<div class="container mt-4">
  <form autocomplete="off" #form="ngForm">
    <div class="form-row">
      <div class="col-auto">
        <select class="form-control" name="expert" [(ngModel)]="expert" (change)="onRankingsChange(form)" required>
          <option value="" disabled>Select Expert</option>
          <option *ngFor="let i of EXPERTS" [value]="i">{{i | titlecase}}</option>
        </select>
      </div>
      <div class="col-auto">
        <select class="form-control" name="season" [(ngModel)]="season" (change)="onRankingsChange(form)" required>
          <option value="" disabled>Select Season</option>
          <option *ngFor="let i of SEASONS" [value]="i">{{i}}</option>
        </select>
      </div>
      <div class="col-auto">
        <select class="form-control" name="week" [(ngModel)]="week" (change)="onRankingsChange(form)" required>
          <option value="" disabled>Select Week</option>
          <option *ngFor="let i of WEEKS" [value]="i">{{i}}</option>
        </select>
      </div>
      <div class="col-auto">
        <select class="form-control" name="position" [(ngModel)]="position" (change)="onRankingsChange(form)" required>
          <option value="" disabled>Select Position</option>
          <option *ngFor="let i of POSITIONS" [value]="i">{{i}}</option>
        </select>
      </div>
      <div class="col">
        <input type="number" class="form-control" name="draftGroupId" placeholder="Draft Group ID"
          [(ngModel)]="draftGroupId" (change)="onDKPlayersChange(form)" required>
      </div>
    </div>
  </form>
  <div class="row mt-3" *ngIf="players">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
          <th>NAME</th>
          <th>OPP</th>
          <th>FPPG</th>
          <th>OPRK</th>
          <th>SALARY</th>
          <th>VALUE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players" [ngClass]="{'table-info': player.mvp}">
          <td>{{player.rank}}</td>
          <td>{{player.name}}</td>
          <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong> @ {{player.homeTeam}}
          </td>
          <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}} @ <strong>{{player.homeTeam}}</strong>
          </td>
          <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
          <td [ngClass]="{'text-danger': player.oprk > 0 && player.oprk < 10, 'text-success': player.oprk > 20}">
            {{player.oprk | nth}}
          </td>
          <td>{{player.salary | currency:'USD':'symbol':'1.0-0'}}</td>
          <td>{{player.value | currency:'USD':'symbol':'1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>