<div class="container">
  <div class="page-header">
    <h1>DraftKings Valuator</h1>
  </div>

  <div>
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#qb" aria-controls="qb" role="tab" data-toggle="tab">
          QB <span class="badge">{{quarterbacks.length}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#rb" aria-controls="rb" role="tab" data-toggle="tab">
          RB <span class="badge">{{runningBacks.length}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#wr" aria-controls="wr" role="tab" data-toggle="tab">
          WR <span class="badge">{{wideReceivers.length}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#te" aria-controls="te" role="tab" data-toggle="tab">
          TE <span class="badge">{{tightEnds.length}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#dst" aria-controls="dst" role="tab" data-toggle="tab">
          DST<span class="badge">{{defenses.length}}</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="qb">
        <app-players [players]="quarterbacks"></app-players>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="rb">
        <app-players [players]="runningBacks"></app-players>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="wr">
        <app-players [players]="wideReceivers"></app-players>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="te">
        <app-players [players]="tightEnds"></app-players>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="dst">
        <app-players [players]="defenses"></app-players>
      </div>
    </div>
  </div>
</div>
