<table class="table table-hover">
  <tr>
    <th>RANK <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></th>
    <th>NAME</th>
    <th>OPP</th>
    <th>FPPG</th>
    <th>OPRK</th>
    <th>SALARY</th>
    <th>VALUE</th>
  </tr>
  <tr *ngFor="let player of players" [ngClass]="{'info': player.mvp}">
    <td>{{player.rank}}</td>
    <td>{{player.name}}</td>
    <td *ngIf="player.team === player.awayTeam"><strong>{{player.awayTeam}}</strong>  @ {{player.homeTeam}}</td>
    <td *ngIf="player.team === player.homeTeam">{{player.awayTeam}}  @ <strong>{{player.homeTeam}}</strong></td>
    <td>{{player.fppg === 0 ? '-' : player.fppg}}</td>
    <td [ngClass]="{'red': player.oprk > 0 && player.oprk < 10, 'green': player.oprk > 20}">{{player.oprk | nth}}</td>
    <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
    <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
  </tr>
</table>
