<table class="table table-hover">
  <tr>
    <th>POS</th>
    <th>NAME</th>
    <th>OPP</th>
    <th>FPPG</th>
    <th>OPRK</th>
    <th>SALARY</th>
    <th>RANKING</th>
    <th>VALUE</th>
  </tr>
  <tr *ngFor="let player of players">
    <td>{{player.position}}</td>
    <td>{{player.name}}</td>
    <td>{{player.opp}}</td>
    <td>{{player.fppg}}</td>
    <td>{{player.oprk}}</td>
    <td>{{player.salary | currency:'USD':true:'1.0-0'}}</td>
    <td>{{player.ranking}}</td>
    <td>{{player.value | currency:'USD':true:'1.0-0'}}</td>
  </tr>
</table>
