<div class="container">

  <div class="jumbotron">
    <h1>DFS MVP</h1>
    <p>Identify the most valuable players for your daily fantasy sports lineups.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
      <p>Duis vel ante tempus, porttitor nulla posuere,
        sollicitudin leo. Nulla id lacinia quam. Suspendisse purus elit, feugiat blandit nunc pretium, luctus tincidunt
        nibh. Sed a tempor ante, a dapibus dolor. Praesent convallis rutrum neque tempus varius. Nulla tempor risus
        quam, vel dignissim elit tempus in.</p>
    </div>

    <div class="col-xs-4">
      <h4>Phasellus mattis rutrum arcu, in dictum quam cursus a.</h4>
      <p>Proin eros augue, eleifend ut magna vitae, mattis
        commodo est. Suspendisse leo est, tincidunt non blandit sed, molestie iaculis eros. Maecenas dictum, velit
        bibendum placerat scelerisque, ex ipsum placerat velit, ac consectetur ex enim ac tellus. Vivamus molestie
        consectetur purus. Vivamus at quam vel massa ultricies semper in quis ligula.</p>
    </div>

    <div class="col-xs-4">
      <h4>Sed eget vestibulum urna, at iaculis massa.</h4>
      <p>Duis rutrum neque enim, sit amet hendrerit lacus maximus in.
        Vivamus vestibulum magna ut consequat convallis. Nam dui eros, faucibus nec iaculis eget, maximus sit amet leo.
        Vivamus imperdiet eu orci et pharetra. Suspendisse orci augue, condimentum in nunc gravida, finibus interdum
        est. Fusce vel consequat libero. In eget gravida odio.</p>
    </div>
  </div>
</div>
